<nb-card>
  <nb-card-header>
    <nb-user [name]="user?.username ? user.username : 'Unknown user'"></nb-user>
  </nb-card-header>
  <nb-card-body>
    <div class="game-board-container">
      <div class="game-board">
        <div *ngFor="let row of gameBoard">
          <button *ngFor="let col of gameBoard" class="btn btn-light sqaure"
                  (click)="SetCellValue(row,col)">{{game.cellValue[row][col]}}</button>
        </div>
      </div>
    </div>
    <div>
      <div class="d-flex justify-content-between">
        <h5 class="ml-5">You : {{playerRole}}</h5>
        <h5 *ngIf="gameDto.gameStatus === 1" class="mr-5">{{opponentUsername()}}{{opponentRole()}}</h5>
        <h5 *ngIf="gameDto.gameStatus === 0" class="mr-5">Waiting for other player...</h5>
      </div>
      <div class="d-flex justify-content-center" >
        <ng-container *ngIf="gameDto.gameStatus === 1">
          <h4>
            <span *ngIf="(gameDto.xPlayer.id === user.id && gameDto.currentPlayer === 'X') || (gameDto.oPlayer.id === user.id && gameDto.currentPlayer === 'O')" class="badge badge-success">Your turn!</span>
            <span *ngIf="(gameDto.xPlayer.id !== user.id && gameDto.currentPlayer === 'X')" class="badge badge-secondary">{{gameDto.xPlayer.username}}'s turn!</span>
            <span *ngIf="(gameDto.oPlayer.id !== user.id && gameDto.currentPlayer === 'O')" class="badge badge-secondary">{{gameDto.oPlayer.username}}'s turn!</span>
          </h4>
        </ng-container>
        <ng-container *ngIf="gameDto.gameStatus === 2">
          <h5>{{gameDto.winner.id === user.id ? 'You' : gameDto.winner.username}} won the game!</h5>
        </ng-container>
        <ng-container *ngIf="gameDto.gameStatus === 3">
          <h5>Game draw</h5>
        </ng-container>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <div class="d-flex flex-column align-items-center">
      <button nbButton class="mt-1" status="primary" size="medium" (click)="back()">Back</button >
    </div>
  </nb-card-footer>
</nb-card>
