<nb-accordion>
  <nb-accordion-item [disabled]="(emptyGames | async)?.length == 0" class="gameItem">
    <nb-accordion-item-header>Empty games</nb-accordion-item-header>
    <nb-accordion-item-body>
      <div class="accordionItem">
        <div *ngFor="let game of emptyGames | async">
          <div class="d-flex justify-content-between pointer" (click)="openGame(game.id)">
            <div class="d-flex align-items-center justify-content-center">
              <nb-icon icon="times-circle" pack="far"></nb-icon>
              <span class="ml-2">{{waitingPlayer(game)}}</span>
            </div>
            <div>
              <button nbButton class="mr-3" status="primary" size="small">Join Game</button >
            </div>
          </div>
          <hr/>
        </div>
      </div>
    </nb-accordion-item-body>
  </nb-accordion-item>
</nb-accordion>
