<nb-card>
  <nb-card-header>
    <nb-user [name]="user?.username ? user.username : 'Unknown user'"></nb-user>
  </nb-card-header>
  <nb-card-body>

    <div class="container">
      <div class="row">
        <div class="col-sm">
          <app-empty-games [emptyGames]="emptyGames"></app-empty-games>
        </div>
        <div class="col-sm">
          <app-active-games [activeGames]="activeGames" [user]="user"></app-active-games>
        </div>
        <div class="col-sm">

          <nb-accordion>
            <nb-accordion-item [disabled]="(finishedGames | async)?.length == 0" class="gameItem">
              <nb-accordion-item-header>Finished games</nb-accordion-item-header>
              <nb-accordion-item-body>
                <div class="overflow-auto accordionItem">
                  <div *ngFor="let game of finishedGames | async">
                    <div class="d-flex justify-content-between pointer" (click)="openGame(game.id)">
                      <div>
                        <div class="mt-2 mb-2">
                          <nb-icon icon="times" pack="fas"></nb-icon>
                          <span class="ml-3">{{game.xPlayer.username}}</span>
                        </div>
                        <div class="mt-2 mb-2">
                          <nb-icon icon="circle" pack="far"></nb-icon>
                          <span class="ml-3">{{game.oPlayer.username}}</span>
                        </div>
                      </div>
                      <div class="d-flex align-items-center justify-content-center mr-1">
                        <h6>
                          <span *ngIf="game.winner?.id === user.id  && game.gameStatus === 2" class="badge badge-success">
                            You won!
                            <nb-icon icon="trophy" pack="fas"></nb-icon>
                          </span>
                          <span *ngIf="game.winner?.id !== user.id && game.gameStatus === 2" class="badge badge-danger">
                            You lost!
                            <nb-icon icon="frown" pack="far"></nb-icon>
                          </span>
                          <span *ngIf="game.gameStatus === 3" class="badge badge-info">
                            Draw!
                            <nb-icon icon="grip-lines-vertical" pack="fas"></nb-icon>
                          </span>
                        </h6>
                      </div>
                    </div>
                    <hr/>
                  </div>
                </div>
              </nb-accordion-item-body>
            </nb-accordion-item>
          </nb-accordion>

        </div>
      </div>
    </div>

    <div class="d-flex flex-column align-items-center">
    <button nbButton class="mt-4" status="primary" size="medium" (click)="newGame()">New Game</button >
    </div>
  </nb-card-body>
</nb-card>
